In [1]:
# Import the nwm Client
from hydrotools.nwm_client import gcp as nwm
import pandas as pd

In [2]:
# Instantiate model data service
model_data_service = nwm.NWMDataService()

In [3]:
# Define the range of dates
start_date = pd.to_datetime('2023-05-01')
end_date = pd.to_datetime('2023-05-07')

In [4]:
# Create an empty list to store the forecast data
forecast_data_list = []

In [5]:

# Retrieve forecast data for each date
for date in pd.date_range(start=start_date, end=end_date, freq='D'):
    reference_time = "20230501T16Z"  # Modify the reference time here
    forecast_data = model_data_service.get(
        configuration="analysis_assim_extend",  # Modify the configuration here
        reference_time=reference_time
    )
    forecast_data_list.append(forecast_data)

In [6]:
# Concatenate the forecast data from all dates
forecast_data = pd.concat(forecast_data_list)

In [7]:
# Look at the data
print(forecast_data.info(memory_usage='deep'))
print(forecast_data[['value_time', 'value']].head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1566824 entries, 0 to 223831
Data columns (total 8 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   reference_time    1566824 non-null  datetime64[ns]
 1   value_time        1566824 non-null  datetime64[ns]
 2   nwm_feature_id    1566824 non-null  int64
 3   value             1566824 non-null  float64
 4   usgs_site_code    1566824 non-null  category
 5   configuration     1566824 non-null  category
 6   measurement_unit  1566824 non-null  category
 7   variable_name     1566824 non-null  category
dtypes: category(4), datetime64[ns](2), float64(1), int64(1)
memory usage: 68.0 MB
None
           value_time  value
0 2023-04-30 13:00:00   2.41
1 2023-04-30 14:00:00   2.41
2 2023-04-30 15:00:00   2.41
3 2023-04-30 16:00:00   2.36
4 2023-04-30 17:00:00   2.36

In [10]:
forecast_data

,reference_time,value_time,nwm_feature_id,value,usgs_site_code,configuration,measurement_unit,variable_name
0,2023-04-30 12:00:00,2023-04-30 13:00:00,3109,2.41,01030350,analysis_assim_extend,m3/s,streamflow
1,2023-04-30 12:00:00,2023-04-30 14:00:00,3109,2.41,01030350,analysis_assim_extend,m3/s,streamflow
2,2023-04-30 12:00:00,2023-04-30 15:00:00,3109,2.41,01030350,analysis_assim_extend,m3/s,streamflow
3,2023-04-30 12:00:00,2023-04-30 16:00:00,3109,2.36,01030350,analysis_assim_extend,m3/s,streamflow
4,2023-04-30 12:00:00,2023-04-30 17:00:00,3109,2.36,01030350,analysis_assim_extend,m3/s,streamflow
...,...,...,...,...,...,...,...,...
223827,2023-04-30 12:00:00,2023-05-01 12:00:00,1180000535,2.47,10254970,analysis_assim_extend,m3/s,streamflow
223828,2023-04-30 12:00:00,2023-05-01 13:00:00,1180000535,2.47,10254970,analysis_assim_extend,m3/s,streamflow
223829,2023-04-30 12:00:00,2023-05-01 14:00:00,1180000535,2.47,10254970,analysis_assim_extend,m3/s,streamflow
223830,2023-04-30 12:00:00,2023-05-01 15:00:00,1180000535,2.48,10254970,analysis_assim_extend,m3/s,streamflow
223831,2023-04-30 12:00:00,2023-05-01 16:00:00,1180000535,2.48,10254970,analysis_assim_extend,m3/s,streamflow